	/* Overrides for syntax highlighter */
	
	.syntaxhighlighter .gutter .line {
		border-color: #8C5DE3 !important;
		}
		
	.syntaxhighlighter {
	font-size: 14px !important;
	overflow-y: hidden !important;
	padding: 6px;
	border: solid 1px #EBEBEB;
	background-color: white;		
	font-family: 'Oswald', "Consolas", monospace !important;
	margin: 25px 0 !important;
		}
		

		
	.syntaxhighlighter .line.alt2 {
		background-color: #F8F8F8 !important;
		
	}	
	.syntaxhighlighter table td.gutter .line  {
		padding-right: 1.05em !important;
		padding-left: .75em !important;
	}
	td.gutter .line {
		color: #5C5C5C !important;
		padding-right: 20px;
	}
	.syntaxhighlighter .variable {
		color: #B800DF !important;
	}
	.syntaxhighlighter .functions{
		color: #8D50FF !important;
	}
	
	
	.syntaxhighlighter .line:hover {
    background: #f1efff !important;
}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea { 
	line-height: 1.4em !important;
}

.syntaxhighlighter .toolbar  {
	background: #EBEBEB  !important;
	border: solid 1px #fff;
}

.fuel-table-of-contents {
	float:right;
	background: #e6e6e6;
	border:solid 1px #cecece;
	padding: 10px 20px;
	/*position:absolute;
	right:30px;
	top:125px;*/
	width:250px;
}

	.fuel-table-of-contents > p {
		font-size: 1.1em;
		font-weight: bold;
		color: #282828;
		padding: 0;
		margin: 0;
		display: block;
		text-shadow: 0px 1px 0 #CCC;
	}
	
	.fuel-table-of-contents > ol {
		margin:10px 0 0 0;
		padding:0;
	}	

		.fuel-table-of-contents > ol > li {
			list-style-type:none;
		}
